/* body{
   
   
}
.container{
    text-align: center;
    width: 450px;
    height: 300px;
    background-color: white;
    align-items: center;
}



 */
body {
    background-color: blue;
    font-family: Arial, sans-serif;
    margin: 20px;
}

#todoList {
    
    margin: 0 auto;
    text-align: center;
    width: 450px;
    height: 300px;
    background-color: white;
    align-items: center;
}

#todoList h2 {
    padding: 30px;
}

li {
    list-style-type: none;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}
.btn{
    
    padding-top: 30px;
}

 #one  {
    background-color: blue;
    color: white;
    border: 1px solid transparent;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}